@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(../fonts/Roboto-Light.ttf) format(ttf);
}

header {
    font-family: 'Lobster', cursive;
    background-image: url(../img/680154.jpg);
    background-position: center;
    background-size: cover;
    color: burlywood;
    padding: 60px;
    font-size: 30px;
} 

body {
    background-color: mistyrose;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

input:focus, button:focus, submit:focus {
    outline: none !important;
}

.navbar-brand {
    font-family: 'Italianno', cursive !important;
    font-size: 150%;
    text-decoration: none;
}

@media (min-width: 500px) {
    .navbar-brand {
        font-size: 230%;
    }
}



.navbar {
    background-color: darksalmon;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.nav-item {
    padding: 0 5px;
}

.nav-item .nav-link:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    color: azure;
    transition: all 0.3s ease-in-out;
}

.fa-facebook-square {
    color: cornflowerblue;
    background-color: white;
}

h2{
    font-family: 'Italianno', cursive;
    font-size: 55px;
}

/* OpenStreetmap fix */
.olControlAttribution {
    bottom: 0 !important;
}

.glow {
  text-align: center;  
  

}

.bemutatkep {
    width: 100%;
}
h1{
    font-family: 'Italianno', cursive;
    font-size: 70px;
}
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
/*slideshow start;
  * {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;


    /*appointment*/
  }
  .form{
    background-color: #3CD8C1;
    position: relative;
}
.heading{}
input[type="text"] {
    border: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
}
input[type="phone"]{
	border: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
}
input[type="date"]{
	border: none;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
input[type="date"]:focus {
    outline: none;
}
textarea {
    border: none;
    width: 100%;
    padding: 10px;
  

